<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Form Submitter</title>

<link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">
<link rel="stylesheet" href="/css/styles.css">  
<style>

input{
font-size: larger;
background-color: cornflowerblue;
}

label , select{
font-size: larger;
}

body{
margin: 2rem;
}

.console{
height: 8rem;
overflow: scroll;
}

.menu{
display: flex;
flex-wrap: nowrap;
list-style: none;
padding: 0rem;
margin: 0rem;
gap: 1rem;
}

.border{
    border: 1px red dashed;
}

.bg_blue{
    background-color: rgb(3, 3, 85);
}

.bg_grey{
    background-color: grey;
}

.bg_cyan{
    background-color: rgb(7, 182, 182);
}

.bg_teal{
    background-color: teal
}

.padding{
    padding: 1rem;
}

.margin{
    margin: 1rem;
}
</style>
</head>
<body>
<header>
<ul class="menu">
    <li class="column_item"><a href="/user/index">UMP </a></li>
    <li class="column_item"><a href="/about">About and Bio </a></li>
    <li class="column_item"><a href="/contact/index">Contact Profile </a></li>
    <li class="column_item"><a href="/pizza">Pizza Toppings </a></li>
</ul>
</header>

<h1>Form Submitter and Handler</h1>

<main>
<blockquote>Proof of concept by Jireh Media Company. Nov 4,2024</blockquote>

<h5>Current Local Data: aConfig</h5>

<h5>Our New Person Management Tool</h5>
<p>Designed with express js and deno as a proof of concept.</p>
<p>We will demonstrate the use of a REST API, using MVC, to manage a list of Person objects.</p>

</main>

<footer>
<ul class="menu">
    <li class="column_item"><a href="/user/index">UMP </a></li>
    <li class="column_item"><a href="/about">About and Bio </a></li>
    <li class="column_item"><a href="/contact/index">Contact Profile </a></li>
    <li class="column_item"><a href="/pizza">Pizza Toppings </a></li>
</ul>
</footer>

</body>
</html>